<section class="block2">
    <div class="container">
        <div class="descr">
            <h2 class="title2">
                Home Friend FACADE STUDIO
            </h2>
            <p>
                С 2014 года наша Группа Компаний начала свою деятельность в области продажи строительных материалов,
                оборудования и выполнения строительно-монтажных работ.
                За более чем 10-летнюю безупречную работу, мы заслужили репутацию надежного и добросовестного партнера,
                как у частных клиентов, так и у крупных компаний
                и организаций. Поставки данных материалов мы сопровождаем профессиональным монтажом и отделкой — как
                фасадов, так и цоколей. Как новых, так и реконструируемых домов. Мы очень тщательно относимся к
                ассортименту, который предлагаем нашим клиентам и выбираем исключительно проверенных и надежных
                поставщиков.
            </p>
            <p>
                С 2014 года наша Группа Компаний начала свою деятельность в области продажи строительных материалов,
                оборудования и выполнения строительно-монтажных работ.
                За более чем 10-летнюю безупречную работу, мы заслужили репутацию надежного и добросовестного партнера,
                как у частных клиентов, так и у крупных компаний
                и организаций. Поставки данных материалов мы сопровождаем профессиональным монтажом и отделкой — как
                фасадов, так и цоколей. Как новых, так и реконструируемых домов. Мы очень тщательно относимся к
                ассортименту, который предлагаем нашим клиентам и выбираем исключительно проверенных и надежных
                поставщиков.
            </p>
        </div>
    </div>
</section>