<footer class="footer">
    <div class="footer__top top-footer">
        <div class="container">
            <div class="top-footer__content">
                <a href="index.html" class="top-footer__logo">
                    <img loading="lazy" src="img/logo-home-friend.svg" alt="">
                </a>
                <div class="top-footer__menu">
                    <div class="top-footer__column">
                        <div class="top-footer__row">
                            <a href="catalog.html" class="top-footer__title">каталог</a>
                            <ul>
                                <li>
                                    <a href="catalog-detail.html">
                                        Архитектурный бетон
                                    </a>
                                </li>
                                <li>
                                    <a href="catalog-detail.html">
                                        Искусственный камень
                                    </a>
                                </li>
                                <li>
                                    <a href="catalog-detail.html">Термопанели</a>
                                </li>
                                <li>
                                    <a href="catalog-detail.html">Гибкий кирпич</a>
                                </li>
                                <li>
                                    <a href="catalog-detail.html">Гибкая керамика</a>
                                </li>
                                <li>
                                    <a href="catalog-detail.html">Термодревесина</a>
                                </li>
                                <li>
                                    <a href="catalog-detail.html">
                                        Строительные материалы
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-footer__column">
                        <div class="top-footer__row">
                            <a href="customers.html" class="top-footer__title">покупателям</a>
                            <ul>
                                <li>
                                    <a href="delivery.html">
                                        Доставка и оплата
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        Сервисная поддержка
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="top-footer__row">
                            <a href="media.html" class="top-footer__title">медиа</a>
                            <ul>
                                <li>
                                    <a href="photo.html">
                                        Фото
                                    </a>
                                </li>
                                <li>
                                    <a href="video.html">
                                        Видео
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-footer__column">
                        <div class="top-footer__row">
                            <a href="brands.html" class="top-footer__title">бренды</a>
                            <a href="builders.html" class="top-footer__title">строителям</a>
                            <a href="news.html" class="top-footer__title">новости</a>
                            <a href="about.html" class="top-footer__title">О нас</a>
                            <a href="service.html" class="top-footer__title">Сервис</a>
                            <a href="contacts.html" class="top-footer__title">контакты</a>
                            <a href="service-detail.html" class="top-footer__title">доставка</a>
                            <a href="montage.html" class="top-footer__title">монтаж</a>
                        </div>
                    </div>
                </div>
                <div class="contacts">
                    <div class="contact">
                        <div class="contact__item">
                            <svg aria-hidden="true" width="15" height="18">
                                <use xlink:href="img/sprite.svg#location"></use>
                            </svg>
                            <span>г. Москва, ул. Шеногина, д. 4 корп.1</span>
                        </div>
                    </div>
                    <div class="contact">
                        <a href="tel:79998765432" class="contact__item">
                            <svg aria-hidden="true" width="18" height="18">
                                <use xlink:href="img/sprite.svg#phone"></use>
                            </svg>
                            <span>+7 (999) 876-54-32</span>
                        </a>
                        <a href="mailto:homefriend@mail.ru" class="contact__item email">
                            <svg aria-hidden="true" width="18" height="14">
                                <use xlink:href="img/sprite.svg#email"></use>
                            </svg>
                            <span>homefriend@mail.ru</span>
                        </a>
                        <div class="contact__item">
                            <svg aria-hidden="true" width="18" height="18">
                                <use xlink:href="img/sprite.svg#clock"></use>
                            </svg>
                            <span>ПН-ПТ с 9:00 до 18:00</span>
                        </div>
                    </div>
                    <div class="socials">
                        <a href="#" class="social">
                            <svg aria-hidden="true" width="20" height="12">
                                <use xlink:href="img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                        <a href="#" class="social">
                            <svg aria-hidden="true" width="18" height="14">
                                <use xlink:href="img/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                        <a href="#" class="social">
                            <svg aria-hidden="true" width="16" height="16">
                                <use xlink:href="img/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom bottom-footer">
        <div class="container">
            <div class="bottom-footer__content">
                <div class="bottom-footer__copy">
                    © 2025 Home Friend Facade Studio. Все права защищены
                </div>
                <div class="bottom-footer__column">
                    <a href="policy.html">Политика конфиденциальности</a>
                    <a href="#">Публичная оферта</a>
                </div>
            </div>
        </div>
    </div>
</footer>