<section class="block-similar-articles block2">
    <div data-swiper-wrapper="news" class="container">
        <div class="heading-complex">
            <div class="heading-complex__left">
                <h2 class="title2">Похожие статьи</h2>
            </div>
            <div class="swiper-navs">
                <button class="swiper-nav swiper-nav_prev" type="button">
                    <svg aria-hidden="true" width="18" height="14">
                        <use xlink:href="img/sprite.svg#arrow1"></use>
                    </svg>
                    <span class="v-h">Назад</span>
                </button>
                <button class="swiper-nav swiper-nav_next" type="button">
                    <svg aria-hidden="true" width="18" height="14">
                        <use xlink:href="img/sprite.svg#arrow1"></use>
                    </svg>
                    <span class="v-h">Вперед</span>
                </button>
            </div>
        </div>
        <div data-swiper="news" class="swiper swiper-news">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="news-detail.html" class="card-news">
                        <div class="card-news__image">
                            <img src="img/news/news1.webp" alt="">
                        </div>
                        <div class="card-news__item">
                            <div class="card-news__title">
                                Новинка от DECOVER! Новые коллекции фибросайдинга!
                            </div>
                            <div class="card-news__date">
                                01.01.2025
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-detail.html" class="card-news">
                        <div class="card-news__image">
                            <img src="img/news/news2.webp" alt="">
                        </div>
                        <div class="card-news__item">
                            <div class="card-news__title">
                                Новинка от DECOVER! Новые коллекции фибросайдинга!
                            </div>
                            <div class="card-news__date">
                                01.01.2025
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-detail.html" class="card-news">
                        <div class="card-news__image">
                            <img src="img/news/news3.webp" alt="">
                        </div>
                        <div class="card-news__item">
                            <div class="card-news__title">
                                Новинка от DECOVER! Новые коллекции фибросайдинга!
                            </div>
                            <div class="card-news__date">
                                01.01.2025
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-detail.html" class="card-news">
                        <div class="card-news__image">
                            <img src="img/news/news4.webp" alt="">
                        </div>
                        <div class="card-news__item">
                            <div class="card-news__title">
                                Новинка от DECOVER! Новые коллекции фибросайдинга!
                            </div>
                            <div class="card-news__date">
                                01.01.2025
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-detail.html" class="card-news">
                        <div class="card-news__image">
                            <img src="img/news/news5.webp" alt="">
                        </div>
                        <div class="card-news__item">
                            <div class="card-news__title">
                                Новинка от DECOVER! Новые коллекции фибросайдинга!
                            </div>
                            <div class="card-news__date">
                                01.01.2025
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-detail.html" class="card-news">
                        <div class="card-news__image">
                            <img src="img/news/news2.webp" alt="">
                        </div>
                        <div class="card-news__item">
                            <div class="card-news__title">
                                Новинка от DECOVER! Новые коллекции фибросайдинга!
                            </div>
                            <div class="card-news__date">
                                01.01.2025
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>