<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Бренды</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="index.html">
								Главная
							</a>
						</li>
						<li class="breadcrumbs__item is-active">
							<span>Бренды</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="heading-complex">
				<div class="container">
					<div class="heading-complex__content">
						<h1 class="title2">Бренды</h1>
						<p>
							Наш интернет-магазин является официальным дилером представленных торговых марок. Это
							означает, что вся продукция действительно фирменная, никакого «серого импорта», на все
							товары распространяется гарантия производителя, цены в нашем магазине соответствуют,
							рекомендованным производителем.
						</p>
					</div>
				</div>
			</div>

			<div class="block-brands block2">
				<div class="container">
					<div class="block-brands__content">
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands1.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands2.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands3.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands4.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands5.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands6.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands3.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands1.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands2.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands6.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands5.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands4.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands1.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands2.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands3.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands5.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands4.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands6.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands3.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands1.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands2.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands4.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands6.webp" alt="">
						</a>
						<a href="brand.html" class="card-brands">
							<img loading="lazy" src="img/brands/brands5.webp" alt="">
						</a>
					</div>
					{% include 'blocks/pagging.njk' %}
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>