<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Медиа</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="index.html">
								Главная
							</a>
						</li>
						<li class="breadcrumbs__item is-active">
							<span>Медиа</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="heading-complex">
				<div class="container">
					<div class="heading-complex__content">
						<h1 class="title2">Медиа</h1>
					</div>
				</div>
			</div>

			<div class="block-news block2 block-tabs block-tabs-filter">
				<div class="container">
					<div class="heading-complex__center">
						<nav class="heading-complex__nav">
							<button data-id="1" type="button"
								class="heading-complex__title _tab-active">Фото</button>
							<button data-id="2" type="button" class="heading-complex__title">Видео</button>
						</nav>
					</div>
					<div class="block-news__content">
						<div data-id="1" class="tabs__body _tab-active">
							<div class="block-news__cards">
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news1.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news2.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news3.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news4.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news5.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news5.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news4.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news1.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news2.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news3.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news1.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news2.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news3.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news4.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news5.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news5.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news4.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news1.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news2.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="photo.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news3.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
							</div>
						</div>
						<div data-id="2" class="tabs__body">
							<div class="block-news__cards">
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news2.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news3.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news4.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news5.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news5.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news4.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news1.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news2.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news3.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news1.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news2.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news3.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news4.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news5.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news5.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news4.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news1.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news2.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
								<a href="video.html" class="card-news">
									<div class="card-news__image">
										<img src="img/news/news3.webp" alt="">
									</div>
									<div class="card-news__item">
										<div class="card-news__title">
											Новинка от DECOVER! Новые коллекции фибросайдинга!
										</div>
										<div class="card-news__date">
											01.01.2025
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					{% include 'blocks/pagging.njk' %}
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>