<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Сервис - детальная</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="index.html">
								Главная
							</a>
						</li>
						<li class="breadcrumbs__item">
							<a href="index.html">
								Сервис
							</a>
						</li>
						<li class="breadcrumbs__item is-active">
							<span>Доставка</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="block-detail block2">
				<div class="container">
					<div class="block-detail__content">
						<div class="block-detail__image">
							<img src="img/service/image6.webp" alt="">
							<div class="block-detail__image-item">
								<h1 class="title1">
									Доставка
								</h1>
								<a href="#" class="btn btn_primary">
									<span>Заказать услугу</span>
									<svg aria-hidden="true" width="16" height="16">
										<use xlink:href="img/sprite.svg#arrow1"></use>
									</svg>
								</a>
							</div>
						</div>
						<div class="block-detail__bottom">
							<div class="descr">
								<h3>
									Если Вы собираетесь приобрести или уже приобрели строительные материалы
									в нашей компании и хотите оформить доставку - мы непременно поможем Вам!
								</h3>
								<p>
									Отдел транспортной логистики компании «МТМ» предлагает решение всех вопросов,
									связанных с погрузкой и доставкой приобретенных у нас товаров по Москве и России.
								</p>
								<h4>Отдел транспортной логистики осуществит комплекс услуг:</h4>
								<ul>
									<li>
										Обеспечит подбор необходимого транспорта и отследит его передвижение.
									</li>
									<li>
										Укомплектует и организует доставку сборных грузов.
									</li>
									<li>
										Составит оптимальный маршрут.
									</li>
									<li>
										Оформит необходимую документацию.
									</li>
									<li>
										Даст рекомендации по страхованию груза.
									</li>
									<li>
										Предоставит рекомендации по упаковке приобретенных материалов.
									</li>
								</ul>
								<h4>Доставка по Москве и Московской области осуществляется следующим образом:</h4>
								<ul>
									<li>
										В сезон (апрель-ноябрь) с 12:00 до 22:00;
									</li>
									<li>
										В несезон (ноябрь-апрель) с 12:00 до 21:00.
									</li>
								</ul>
								<p class="border">
									<span>Стоимость доставки может частично или полностью компенсироваться в зависимости
										от купленных товаров.</span>
									Дополнительную информацию по стоимости и срокам доставки Вы
									можете уточнить у менеджеров компании. Разгрузка на объекте осуществляется силами
									заказчика.
								</p>
								<h4>
									Таблица вместимости автотранспорта
								</h4>
								<div class="table">
									<div class="table__main">
										<div class="table__name first">№</div>
										<div class="table__names">
											<div class="table__name">1</div>
											<div class="table__name">2</div>
											<div class="table__name">3</div>
											<div class="table__name">4</div>
											<div class="table__name">5</div>
											<div class="table__name">6</div>
											<div class="table__name">7</div>
											<div class="table__name">8</div>
											<div class="table__name">9</div>
											<div class="table__name">10</div>
											<div class="table__name">11</div>
										</div>
									</div>
									<div data-swiper-wrapper="swiper-tables" class="table__body">
										<div data-swiper="swiper-tables" class="swiper-tables swiper">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="table__name first">Марка,тип автотранспорта</div>
													<div class="table__names">
														<div class="table__name">Газель (тент, фургон, борт)</div>
														<div class="table__name">Газель дл.база (борт - 4,2м)</div>
														<div class="table__name">Газ, Зил - бычок (фургон, борт)</div>
														<div class="table__name">Зил (фургон, борт)</div>
														<div class="table__name">МАЗ, Камаз, Иномарки (тент, фургон) (6м
															- 9м) </div>
														<div class="table__name">МАЗ, Камаз, Иномарки (борт 5,2м - 6м)
														</div>
														<div class="table__name">Евротент</div>
														<div class="table__name">Шаланда 9м</div>
														<div class="table__name">Шаланда 12м</div>
														<div class="table__name">Кран (стрела 14м)</div>
														<div class="table__name">Кран (стрела 32м)</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="table__name first">Грузоподъемность, тонн</div>
													<div class="table__names">
														<div class="table__name">1,5</div>
														<div class="table__name">2,0</div>
														<div class="table__name">до 4,5</div>
														<div class="table__name">6</div>
														<div class="table__name">до 14</div>
														<div class="table__name">до 10</div>
														<div class="table__name">20</div>
														<div class="table__name">15</div>
														<div class="table__name">20</div>
														<div class="table__name">14</div>
														<div class="table__name">30</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="table__name first">Объем, куб.м.</div>
													<div class="table__names">
														<div class="table__name">9-12</div>
														<div class="table__name">-</div>
														<div class="table__name">15</div>
														<div class="table__name">16-18</div>
														<div class="table__name">30-50</div>
														<div class="table__name">-</div>
														<div class="table__name">82</div>
														<div class="table__name">-</div>
														<div class="table__name">-</div>
														<div class="table__name">-</div>
														<div class="table__name">-</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-scrollbar"></div>
									</div>
								</div>
								<h4>
									Доставка и оплата в Москве и Московской обл.
								</h4>
								<blockquote>
									<p>
										Стоимость доставки может частично или полностью компенсироваться в зависимости
										от купленных товаров. Дополнительную информацию по стоимости и срокам доставки
										Вы можете уточнить у менеджеров компании. Разгрузка на объекте осуществляется
										силами заказчика.
									</p>
								</blockquote>
							</div>
							<div class="contacts-info">
								<div class="contacts-info__sticky">
									<div class="contacts-info__item">
										<div class="contacts-info__name">
											Контактная информация
										</div>
										<div class="contact">
											<div class="contact__item">
												<svg aria-hidden="true" width="15" height="18">
													<use xlink:href="img/sprite.svg#location"></use>
												</svg>
												<span>г.&nbsp;Москва, ул.&nbsp;Шеногина, д.&nbsp;4 корп.1</span>
											</div>
											<a href="mailto:homefriend@mail.ru" class="contact__item">
												<svg aria-hidden="true" width="18" height="14">
													<use xlink:href="img/sprite.svg#email"></use>
												</svg>
												<span>homefriend@mail.ru</span>
											</a>
											<a href="tel:79998765432" class="contact__item">
												<svg aria-hidden="true" width="18" height="18">
													<use xlink:href="img/sprite.svg#phone"></use>
												</svg>
												<span>+7 (999) 876-54-32</span>
											</a>
											<div class="contact__item">
												<svg aria-hidden="true" width="18" height="18">
													<use xlink:href="img/sprite.svg#clock"></use>
												</svg>
												<span>ПН-ПТ с 9:00 до 18:00</span>
											</div>
										</div>
										<a href="#" class="btn btn_primary">
											<span>Заказать услугу</span>
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>