<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Сервис</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="index.html">
								Главная
							</a>
						</li>
						<li class="breadcrumbs__item is-active">
							<span>Сервис</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="heading-complex">
				<div class="container">
					<div class="heading-complex__content">
						<h1 class="title2">Сервис</h1>
					</div>
				</div>
			</div>

			<div class="block-service block2">
				<div class="container">
					<div class="block-service__content">
						<div class="block-service__body">
							<div class="card-service">
								<div class="card-service__image">
									<img src="img/service/image1.webp" alt="">
								</div>
								<div class="card-service__item">
									<div class="card-service__titles">
										<div class="card-service__title">Консультации и расчёт</div>
										<p>
											Специалисты нашей компании проконсультируют Вас и помогут вам рассчитать
											необходимое количество материалов и комплектацию.
										</p>
									</div>
									<a href="service-detail.html" class="card-service__link">
										<span>К услуге</span>
										<svg aria-hidden="true" width="16" height="16">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</a>
								</div>
							</div>
							<div class="card-service">
								<div class="card-service__image">
									<img src="img/service/image2.webp" alt="">
								</div>
								<div class="card-service__item">
									<div class="card-service__titles">
										<div class="card-service__title">Доставка</div>
										<p>
											Отдел транспортной логистики компании «МТМ» предлагает решение всех
											вопросов, связанных с погрузкой
											и доставкой по Москве и России.
										</p>
									</div>
									<a href="service-detail.html" class="card-service__link">
										<span>К услуге</span>
										<svg aria-hidden="true" width="16" height="16">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</a>
								</div>
							</div>
							<div class="card-service">
								<div class="card-service__image">
									<img src="img/service/image3.webp" alt="">
								</div>
								<div class="card-service__item">
									<div class="card-service__titles">
										<div class="card-service__title">Монтаж и реконструкция</div>
										<p>
											За год выполняется более 200 объектов разного объёма и сложности работа.
											Возможен монтаж любых материалов из ассортимента.
										</p>
									</div>
									<a href="service-detail.html" class="card-service__link">
										<span>К услуге</span>
										<svg aria-hidden="true" width="16" height="16">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</a>
								</div>
							</div>
							<div class="card-service">
								<div class="card-service__image">
									<img src="img/service/image4.webp" alt="">
								</div>
								<div class="card-service__item">
									<div class="card-service__titles">
										<div class="card-service__title">Выезд специалиста на объект</div>
										<p>
											Для проведения замера здания к Вам выедет специалист компании, который с
											помощью лазерного дальномера произведет точные замеры.
										</p>
									</div>
									<a href="service-detail.html" class="card-service__link">
										<span>К услуге</span>
										<svg aria-hidden="true" width="16" height="16">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</a>
								</div>
							</div>
							<div class="card-service">
								<div class="card-service__image">
									<img src="img/service/image5.webp" alt="">
								</div>
								<div class="card-service__item">
									<div class="card-service__titles">
										<div class="card-service__title">Визуализация</div>
										<p>
											Визуализация предлагается в трех цветовых композициях одного-двух
											типоразмеров плитки.
										</p>
									</div>
									<a href="service-detail.html" class="card-service__link">
										<span>К услуге</span>
										<svg aria-hidden="true" width="16" height="16">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="contacts-info">
							<div class="contacts-info__sticky">
								<div class="contacts-info__item">
									<div class="contacts-info__name">
										Контактная информация
									</div>
									<div class="contact">
										<div class="contact__item">
											<svg aria-hidden="true" width="15" height="18">
												<use xlink:href="img/sprite.svg#location"></use>
											</svg>
											<span>г.&nbsp;Москва, ул.&nbsp;Шеногина, д.&nbsp;4 корп.1</span>
										</div>
										<a href="mailto:homefriend@mail.ru" class="contact__item">
											<svg aria-hidden="true" width="18" height="14">
												<use xlink:href="img/sprite.svg#email"></use>
											</svg>
											<span>homefriend@mail.ru</span>
										</a>
										<a href="tel:79998765432" class="contact__item">
											<svg aria-hidden="true" width="18" height="18">
												<use xlink:href="img/sprite.svg#phone"></use>
											</svg>
											<span>+7 (999) 876-54-32</span>
										</a>
										<div class="contact__item">
											<svg aria-hidden="true" width="18" height="18">
												<use xlink:href="img/sprite.svg#clock"></use>
											</svg>
											<span>ПН-ПТ с 9:00 до 18:00</span>
										</div>
									</div>
								</div>
								<div class="contacts-info__item">
									<div class="contacts-info__name">
										Шоурум
									</div>
									<div class="contact">
										<div class="contact__item">
											<svg aria-hidden="true" width="15" height="18">
												<use xlink:href="img/sprite.svg#location"></use>
											</svg>
											<span>г.&nbsp;Москва, ул.&nbsp;Шеногина, д.&nbsp;4 корп.1</span>
										</div>
										<a href="tel:79998765432" class="contact__item">
											<svg aria-hidden="true" width="18" height="18">
												<use xlink:href="img/sprite.svg#phone"></use>
											</svg>
											<span>+7 (999) 876-54-32</span>
										</a>
										<div class="contact__item">
											<svg aria-hidden="true" width="18" height="18">
												<use xlink:href="img/sprite.svg#clock"></use>
											</svg>
											<span>ПН-ПТ с 9:00 до 18:00</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>